{% extends 'basis/basis_admin.html' %}


{% block link %}
<link rel="stylesheet" href="/static/css/create_food.css">
{% endblock %}

{% block main %}

<div class="main">
    <h1 class="title">Добавить новый продукт, категорию</h1>
    <div class="add_view_bts">
        <button class="add_menu">Добавить товар</button>
        <button class="add_category">Добавить категорию</button>
    </div>
    <form method="post" enctype="multipart/form-data" class="add_menu_form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_name">Название (Лагман, Манты):</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_description">Информация (состав т.д):</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_price">Цена:</label>
            {{ form.price }}
        </div>
        <div>
            <label for="id_category">Категория:</label>
            {{ form.category }}
        </div>
        <div>
            <label for="id_imageOne">Изображение:</label>
            {{ form.imageOne }}
        </div>
        <div>
            <label for="id_food_status">Статус продукта:</label>
            {{ form.food_status }}
        </div>
        <button type="submit">Добавить товар</button>
    </form>
    <form id="category-form" class="add_category_form">
        {% csrf_token %}
        <label for="category-name">Имя категории:</label>
        <input type="text" name="name" id="category-name" required>
        <button type="submit">Создать категорию</button>
    </form>
</div>

<!-- Список существующих категорий -->
<div id="my-categories">
    <h4>Мои категории:</h4>
    <ul id="categories-list">
        {% for category in categories %}
        <li data-id="{{ category.id }}">
            {{ category.name }}
            <button class="delete-category-btn" data-id="{{ category.id }}">Удалить</button>
        </li>
        {% endfor %}
    </ul>
</div>


<script>
    document.getElementById('category-form').addEventListener('submit', function (e) {
        e.preventDefault();  // Предотвращает стандартную отправку формы

        createCategory();  // Вызывает функцию для отправки данных через fetch
    });

    const createCategory = async () => {
        const name = document.getElementById('category-name').value;
        const response = await fetch('/create-category/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Убедитесь, что CSRF токен добавлен
            },
            body: JSON.stringify({ name: name })
        });

        const data = await response.json();

        if (data.success) {
            alert('Категория создана');
            location.reload();
        } else {
            console.error('Ошибка:', data.error);
            alert('Произошла ошибка: ' + data.error);
        }
    };


</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const btnMenu = document.querySelector('.add_menu');
    const btnCategory = document.querySelector('.add_category');

    const formMenu = document.querySelector('.add_menu_form');
    const formCategory = document.querySelector('.add_category_form');

    // по умолчанию
    formMenu.style.display = 'flex';
    formCategory.style.display = 'none';

    btnMenu.addEventListener('click', function () {
        formMenu.style.display = 'flex';
        formCategory.style.display = 'none';
        btnMenu.style.cssText = 'background-color: #131313; color: #ffffff;'
        btnCategory.style.cssText = 'background-color: #ffffff; color: #131313;'
    });

    btnCategory.addEventListener('click', function () {
        formMenu.style.display = 'none';
        formCategory.style.display = 'flex';
        btnCategory.style.cssText = 'background-color: #131313; color: #ffffff;'
        btnMenu.style.cssText = 'background-color: #ffffff; color: #131313;'
    });
});
</script>





{% endblock %}