{% extends 'basis/basis_admin.html' %}


{% block link %}
<link rel="stylesheet" href="/static/css/create_food.css">
{% endblock %}

{% block main %}

<div class="main">
    <h1 class="title">Добавить новый товар или создать категорию</h1>
    <div class="add_view_bts">
        <button class="add_menu">Добавить товар</button>
        <button class="add_category">Добавить категорию</button>
    </div>
    <form method="post" enctype="multipart/form-data" class="add_menu_form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_name">Название (Лагман, Манты):</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_description">Информация (состав и т.д):</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_price">Цена:</label>
            {{ form.price }}
        </div>
        <div>
            <label for="id_category">Категория:</label>
            {{ form.category }}
        </div>
        <div>
            <label for="id_imageOne">Изображение:</label>
            {{ form.imageOne }}
        </div>
        <div>
            <label for="id_food_status">Статус продукта:</label>
            {{ form.food_status }}
        </div>
        <button type="submit">Добавить товар</button>
    </form>
    <form id="category-form" class="add_category_form">
        {% csrf_token %}
        <label for="category-name">Имя новой категории:</label>
        <div class="input_container">
            <input type="text" name="name" id="category-name" required class="category-name"
                placeholder="Введите название категории">
            <button type="submit" class="submit">Создать категорию</button>
        </div>
    </form>
    <div class="my-categories">
        <h3>Мои категории товаров:</h3>
        {% for cat in request.user.categories.all %}
        <div class="cat-row" data-id="{{cat.id}}">
            <input type="text" value="{{cat.name}}" class="cat-input">
            <button class="save-cat">Сохранить</button>
            <button class="delete-cat">Удалить</button>
        </div>
        {% endfor %}
    </div>

</div>


<script>
    document.getElementById('category-form').addEventListener('submit', function (e) {
        e.preventDefault();  // Предотвращает стандартную отправку формы

        createCategory();  // Вызывает функцию для отправки данных через fetch
    });

    const createCategory = async () => {
        const name = document.getElementById('category-name').value;
        const response = await fetch('/create-category/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Убедитесь, что CSRF токен добавлен
            },
            body: JSON.stringify({ name: name })
        });

        const data = await response.json();

        if (data.success) {
            alert('Категория создана');
            location.reload();
        } else {
            console.error('Ошибка:', data.error);
            alert('Произошла ошибка: ' + data.error);
        }
    };


</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btnMenu = document.querySelector('.add_menu');
        const btnCategory = document.querySelector('.add_category');

        const formMenu = document.querySelector('.add_menu_form');
        const formCategory = document.querySelector('.add_category_form');
        const myCategories = document.querySelector('.my-categories')

        // по умолчанию
        formMenu.style.display = 'flex';
        formCategory.style.display = 'none';

        btnMenu.addEventListener('click', function () {
            formMenu.style.display = 'flex';
            formCategory.style.display = 'none';
            myCategories.style.display = 'none'
            btnMenu.style.cssText = 'background-color: #131313; color: #ffffff;'
            btnCategory.style.cssText = 'background-color: #ffffff; color: #131313;'
        });

        btnCategory.addEventListener('click', function () {
            formMenu.style.display = 'none';
            formCategory.style.display = 'flex';
            myCategories.style.display = 'flex'
            btnCategory.style.cssText = 'background-color: #131313; color: #ffffff;'
            btnMenu.style.cssText = 'background-color: #ffffff; color: #131313;'
        });
    });
</script>
<script>
    document.querySelectorAll('.cat-row').forEach(row => {
        const id = row.dataset.id;
        const input = row.querySelector('.cat-input');

        row.querySelector('.save-cat').onclick = async () => {
            const res = await fetch('/manage-category/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    id: id,
                    action: 'edit',
                    name: input.value
                })
            });

            const data = await res.json();
            alert(data.message);
            location.reload();
        };

        row.querySelector('.delete-cat').onclick = async () => {
            if (!confirm('Удалить категорию?')) return;

            const res = await fetch('/manage-category/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    id: id,
                    action: 'delete'
                })
            });

            const data = await res.json();
            alert(data.message);
            location.reload();
        };
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        document.querySelectorAll('.cat-row').forEach(row => {
            const input = row.querySelector('.cat-input');
            const btnSave = row.querySelector('.save-cat');
            const btnDelete = row.querySelector('.delete-cat');

            const originalValue = input.value;

            // дефолт
            btnSave.style.display = 'none';
            btnDelete.style.display = 'inline-block';

            input.addEventListener('input', function () {
                if (input.value.trim() !== originalValue.trim()) {
                    btnSave.style.display = 'inline-block';
                    btnDelete.style.display = 'none';
                } else {
                    btnSave.style.display = 'none';
                    btnDelete.style.display = 'inline-block';
                }
            });
        });

    });
</script>







{% endblock %}