main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 60px;
    .title {
        font-family: 'Open Sans';
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: left;
        border-bottom: 1px solid #141414;
        &::after {
            display: block;
            content: '';
            width: 20px;
            height: 15px;
            background: url("/static/icons/orders.svg") center/cover no-repeat;
        }
    }
    .menu_search {
        border: 1px solid #202020;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        width: 300px;
    }
    .edit-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        margin-top: 20px;
        details {
            width: 95%;
            text-align: left;
            summary {
                background-color: #d6d6d6;
                height: 100%;
                width: 100%;
                position: relative;
                font-family: 'Nunito';
                font-size: 16px;
                font-weight: 700;
                padding: 12px 0px 12px 20px;
                border-radius: 10px;
                &::before {
                    position: absolute;
                    content: '';
                    left: -3%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    background: #1302ff;
                    border-radius: 50%;
                }
            }
            .food-items {
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                .food-item {
                    width: 49%;
                    box-shadow: 0px 0px 10px #00000085;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    margin-top: 15px;
                    border-radius: 15px;
                    form {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        .image-container {
                            width: 20%;
                            padding: 0 0 20% 0;
                            position: relative;
                            background-size: cover;
                            background-position: center;
                            overflow: hidden;
                            z-index: 2;
                            border-radius: 15px;
                            box-shadow: 5px 5px 5px #0000004d;
                            .change-image-button {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                padding: 7px 15px;
                                border-radius: 8px;
                                font-family: 'Nunito';
                                font-size: 13px;
                                font-weight: 700;
                                background-color: #000000bb;
                                color: white;
                                border: none;
                                cursor: pointer;
                                z-index: 3; /* Обеспечим, что кнопка будет поверх фона */
                                &:hover {
                                    background-color: #0e0ee0; /* Цвет при наведении */
                                }
                            }
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 100%;
                                height: 100%;
                                transform: translate(-50%, -50%);
                                object-fit: cover;
                                z-index: 1;
                            }
                        }
                        .container {
                            width: 75%;
                            display: flex;
                            flex-direction: column;
                            button {
                                font-family: 'Nunito';
                                font-size: 14px;
                                font-weight: 600;
                                color: #ffffff;
                                position: absolute;
                                padding: 8px 15px;
                                bottom: 0px;
                                right: 15px;
                                border-radius: 10px;
                                transition: all 0.3s ease 0s;
                                &:hover {
                                    background-color: #2fd419;
                                }
                            }
                            .action-btn {
                                background-color: #cc1616;
                            }
                            .food-name, .food-description, .food-price, .food-status, .food-new-img {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                p {
                                    font-family: 'Nunito';
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #00000063;
                                    position: relative;
                                    &::before {
                                        position: absolute;
                                        content: '';
                                        left: -10px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 5px;
                                        height: 5px;
                                        background: #0f0f0f;
                                        border-radius: 50%;
                                    }
                                }
                                input, select {
                                    font-family: 'Open Sans';
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #0e0e0e;
                                    margin-left: 2px;
                                    padding: 5px 7px;
                                }
                                input[type="text"] {
                                    width: 100%;
                                }
                                input[type="number"] {
                                    width: 20%;
                                }
                                select {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

