@mixin colorbg {
    background: rgb(61, 61, 61);
}

@mixin colorstandart {
    color: #727272;
}

@mixin fonttitle {
    font-family: "Noto Sans";
    font-size: clamp(12px, 4vw, 18px);
    font-weight: 600;
}

@mixin fontdescription {
    font-family: "Noto Sans";
    font-size: clamp(10px, 3vw, 16px);
    font-weight: 600;
}


.bigLogo {
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    height: clamp(40px, 50vw, 400px);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: clamp(5px, 2.5vw, 45px);
    h2,
    p {
        position: relative;
        z-index: 5;
        margin-left: 5%;
        color: #e6e6e6;
        font-weight: 500;
    }
    h2 {
        font-size: clamp(12px, 6vw, 45px);
        font-weight: 700;
        font-family: "Bai Jamjuree";
    }
    p {
        font-size: clamp(12px, 3.7vw, 45px);
        font-weight: 500;
        line-height: clamp(12px, 4.2vw, 45px);
        font-family: "Open Sans";
    }
    button {
        position: absolute;
        z-index: 5;
        width: clamp(30px, 30vw, 200px);
        height: clamp(30px, 8vw, 150px);
        background-color: #2a65d1;
        font-family: "Open Sans";
        color: #e6e6e6;
        font-weight: 700;
        right: 5%;
        bottom: 15%;
        border-radius: 5px;
        font-size: clamp(12px, 3.5vw, 20px);
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 4;
    }
}

.basis-links {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.8%;
    a {
        display: inline-block;
        width: 48.2%;
        padding: 0 0 22% 0;
        position: relative;
        margin-top: 4.5%;
        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            border-radius: 15px;
        }
        p {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Nunito";
            font-size: clamp(12px, -0.125rem + 3.89vw, 19px);
            font-weight: 700;
            color: #080808;
            padding: 8px 15px;
            background-color: #ffffff;
            border-radius: 10px;
            white-space: nowrap;
        }
    }
}
.taxi {
    width: 95%;
    margin: 0 auto;
    margin-top: 3.8vw;
    a {
        display: inline-block;
        width: 100%;
        padding: 0 0 30% 0;
        position: relative;
        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            border-radius: 15px;
        }
        p {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Nunito";
            font-size: clamp(12px, -0.125rem + 3.89vw, 19px);
            font-weight: 700;
            color: #080808;
            padding: 8px 15px;
            background-color: #ffffff;
            border-radius: 10px;
            white-space: nowrap;
        }
    }
}

.basis-links a,
.taxi a {
  perspective: 1000px; /* глубина */
}

.basis-links a .bg,
.taxi a .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 15px;

    backface-visibility: hidden;
}

/* запускаем анимацию только по классу flip */
.basis-links a.flip .bg,
.taxi a.flip .bg {
    animation: flipAnimation 1.2s ease-in-out forwards;
}

@keyframes flipAnimation {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotateY(180deg) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(360deg) scale(1);
    }
}




.cafe-title {
    font-family: "Raleway";
    font-size: clamp(5px, 4.3vw, 45px);
    font-weight: 700;
    color: #0c0c0c;
    margin: 10px 0 5px 2.5%;
}

.popular-products {
    margin-top: 5px;
    .title {
        font-family: "Noto Sans";
        font-size: clamp(10px, 4vw, 20px);
        color: #080808;
        border-radius: 5px;
        padding: 5px 7px;
        margin: 0 0 12px 2.5%;
        display: inline-block;
        font-weight: 400;
        &::after {
            content: "";
            @include fontdescription();
            margin-left: 5px;
            color: fff;
        }
    }

    .popular-products-gallery {
        height: clamp(60px, 30vw, 180px);
        display: flex;
        gap: 12px;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        margin-left: 2.5%;
        margin-right: 2.5%;
        &::-webkit-scrollbar {
            width: 0;
        }
        .popular-product {
            min-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            .img-container {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 15px;
                overflow: hidden;
                // -webkit-backface-visibility: hidden;
                // -moz-backface-visibility: hidden;
                // -webkit-transform: translate3d(0, 0, 0);
                // -moz-transform: translate3d(0, 0, 0);
                -webkit-mask-image: -webkit-radial-gradient(white, black);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 5;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    transition: all 0.3s ease 0s;
                    z-index: 6;
                }

                .product-title {
                    position: relative;
                    @include fontdescription();
                    display: inline-block;
                    z-index: 3;
                    padding-left: 10px;
                    margin-bottom: 5px;
                    color: #fff;
                    z-index: 8;
                }

                .shop-name {
                    position: relative;
                    @include fontdescription();
                    display: block;
                    z-index: 3;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    color: #fff;
                    color: rgb(0, 255, 255);
                    z-index: 8;
                }

                .gradient {
                    opacity: 80%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        180deg,
                        rgba(215, 226, 0, 0) 0%,
                        rgba(0, 0, 0, 0.8701855742296919) 61%,
                        rgba(0, 0, 0, 1) 100%
                    );
                    z-index: 7;
                }
            }
        }
    }
}
.category-container {
    width: 100%;
    margin-top: 10px;
    .title {
        font-family: "Noto Sans";
        font-size: clamp(10px, 4vw, 20px);
        color: #fff;
        text-align: center;
        font-weight: 500;
    }
    .category {
        width: 100%;
        margin-top: clamp(10px, 5vw, 25px);
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #818181;
            li {
                width: 100%;
                border-bottom: 1px solid #818181;
                padding: 0 0 0 15px;
                position: relative;
                a {
                    display: inline-block;
                    padding: 15px 0;
                    color: #fff;
                    font-family: "Open Sans";
                    font-size: clamp(10px, 3.5vw, 25px);
                    font-weight: 300;
                    width: 100%;
                }
                span {
                    display: block;
                    width: 15px;
                    height: 15px;
                    left: 100%;
                    top: 50%;
                    transform: translate(-150%, -50%);
                    position: absolute;
                    transform: translate();
                    background: url("/static/icons/right.svg") center/cover no-repeat;
                }
            }
        }
    }
}
