* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    // background: rgb(215, 226, 0);
    // background: radial-gradient(circle, rgba(215, 226, 0, 1) 0%, rgba(255, 181, 0, 1) 50%, rgba(255, 190, 0, 1) 100%);
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

table {
    max-width: 1280px;
    margin: 0 auto;
    border-collapse: collapse;
}
th,
td {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 20px 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 0 20px 0;
    .title {
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: left;
        border-bottom: 1px solid #141414;
        &::after {
            display: block;
            content: "";
            width: 20px;
            height: 15px;
            background: url("/static/icons/orders.svg") center/cover no-repeat;
        }
    }
    .sub-title {
        margin: 20px 0px;
    }
    .order-search {
        border: 1px solid #202020;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        width: 300px;
    }
    .orders-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .active {
            background-color: #0f0f0f;
            color: #dadada;
        }
        .new-orders {
            border-top: 1px solid #131313;
            border-bottom: 1px solid #131313;
            border-left: 1px solid #131313;
            border-radius: 10px 0px 0px 10px;
            span {
                font-family: "Nunito";
                font-size: 14px;
                padding: 0px 6px;
                background-color: #eeff00;
                color: #131313;
                border-radius: 5px;
                margin-left: 5px;
            }
        }
        .completed-orders {
            border: 1px solid #131313;
        }
        .cancelled-orders {
            border-top: 1px solid #131313;
            border-bottom: 1px solid #131313;
            border-right: 1px solid #131313;
            border-radius: 0px 10px 10px 0px;
        }
        button {
            width: 34%;
            height: auto;
            padding: 10px 15px;
            font-family: "Nunito";
            font-size: 14px;
            font-weight: 700;
            color: #141414;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: #353535;
                color: #dadada;
            }
        }
    }
    .order-table {
        width: 100%;
        margin-top: 20px;
        border-radius: 15px;
        overflow: hidden;
        thead {
            .nav-bar {
                height: 45px;
                border-radius: 15px;
                overflow: hidden;
                th {
                    background-color: #000144;
                    text-align: center;
                    color: #ebebeb;
                    font-family: "Nunito";
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                }
            }
        }
        tbody {
            width: 100%;
            .order {
                width: 100%;
                &:hover {
                    background-color: #d6d6d6;
                    transition: all 0.1s ease 0s;
                    cursor: pointer;
                }
                .order-number-container {
                    width: 12%;
                    p {
                        color: #252525;
                        font-family: "Nunito";
                        font-size: 14px;
                        font-weight: 700;
                        text-align: left;
                    }
                }
                .created-at-container {
                    width: 18%;
                    text-align: left;
                    p {
                        text-align: left;
                        font-family: "Nunito";
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        span {
                            text-align: left;
                            font-family: "Open Sans";
                            font-size: 12px;
                            color: #0e0e0e9a;
                        }
                    }
                }
                .order-details-container {
                    width: 35%;
                    ol {
                        width: 100%;
                        margin-bottom: 5px;
                        margin-left: 15px;
                        li {
                            text-align: left;
                            color: #0e0e0e;
                            font-family: "Nunito";
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 1.5; /* Укажите конкретное значение */
                            cursor: pointer;
                        }
                    }
                    .created-at {
                        text-align: left;
                        font-family: "Nunito";
                        font-size: 14px;
                        font-weight: 700;
                        .courier-notification {
                            padding: 4px 10px;
                            margin-left: 15px;
                            background-color: #0059ffe8;
                            font-family: "Nunito";
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: 600;
                            border-radius: 7px;
                            transition: all 0.3s ease 0s;
                            &:hover {
                                background-color: #0300a5;
                                color: #fcfcfc;
                            }
                        }
                        span {
                            padding: 5px 10px;
                            margin-left: 15px;
                            font-family: "Nunito";
                            font-size: 13px;
                            font-weight: 600;
                            border-radius: 7px;
                            transition: all 0.3s ease 0s;
                        }
                        .courier-called {
                            background-color: #ffd000;
                            color: #131313;
                        }
                        .courier-pick-up {
                            background-color: #0059ff;
                            color: #ffffff;
                        }
                        .courier-ontheway {
                            background-color: #ff0095;
                            color: #ffffff;
                        }
                        .courier-delivered {
                            background-color: #08e200;
                            color: #131313;
                        }
                    }
                }
                .total-amount-container {
                    width: 11%;
                    p {
                        font-weight: 700;
                        font-size: 17px;
                        color: #252525;
                        font-family: "Nunito";
                        font-size: 15px;
                        font-weight: 800;
                        text-align: left;
                    }
                }
                .payment {
                    width: 13%;
                    font-family: "Nunito";
                    font-size: 14px;
                    .payment-online {
                        button {
                            color: #252525;
                            transition: all 0.3s ease 0s;
                            font-weight: 600;
                            text-align: left;
                            padding: 3px 8px;
                            border-radius: 5px;
                            background-color: #868686;
                            color: #fff;
                            &:hover {
                                background-color: #3d3d3d;
                                color: #fff;
                            }
                        }
                    }
                    .payment-online {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        gap: 10px 0;
                        p {
                            color: #252525;
                            transition: all 0.3s ease 0s;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                }
                .order-status {
                    width: 11%;
                    form {
                        width: 100%;
                        select {
                            color: #e9e9e9;
                            width: 100%;
                            font-family: "Nunito";
                            font-size: 14px;
                            transition: all 0.3s ease 0s;
                            font-weight: 600;
                            text-align: center;
                            background: #0050fc;
                            padding: 8px 5px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                    .order-completed {
                        width: 100%;
                        color: #252525;
                        font-family: "Open Sans";
                        font-size: 14px;
                        transition: all 0.3s ease 0s;
                        font-weight: 600;
                        text-align: center;
                        background: #00e71f;
                        padding: 10px 15px;
                        border-radius: 5px;
                    }
                    .order-cancelled {
                        width: 100%;
                        color: #dadada;
                        font-family: "Open Sans";
                        font-size: 14px;
                        transition: all 0.3s ease 0s;
                        font-weight: 600;
                        text-align: center;
                        background: #e72e00;
                        padding: 10px 15px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .table-pagination {
        display: flex;
        gap: 6px;
        justify-content: center;
        margin: 15px 0;
        flex-wrap: wrap;
        button {
            padding: 6px 12px;
            border: none;
            background: #eee;
            cursor: pointer;
            border-radius: 6px;
            font-family: "Open Sans";
            font-size: 14px;
        }
        .active {
            background: #2fd419;
            color: #fff;
        }
    }
}
