main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 60px;
    .title {
        font-family: 'Open Sans';
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: left;
        border-bottom: 1px solid #141414;
        &::after {
            display: block;
            content: '';
            width: 20px;
            height: 15px;
            background: url("/static/icons/orders.svg") center/cover no-repeat;
        }
    }
    .profile-container {
        width: 100%;
        .profile-background {
            width: 100%;
            padding: 0 0 50% 0;
            position: relative;
            border-radius: 50px;
            overflow: hidden;
            .profile-background-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            .profile-background-gradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,0.6909138655462185) 61%, rgba(96,96,96,0) 100%);
            }
            .profile-info {
                width: 65%;
                height: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 20px;
                border: 2px solid #969696;
                border-radius: 30px;
                background: rgba(255, 255, 255, 0); /* Полупрозрачный белый фон */
                backdrop-filter: blur(10px); /* Размытие фона за элементом */
                -webkit-backdrop-filter: blur(10px); /* Для поддержки Safari */
                h2 {
                    position: absolute;
                    left: 50%;
                    top: 8%;
                    color: #fff;
                    font-family: "Nunito";
                    font-size: 20px;
                    transform: translateX(-50%);
                }
                .profile-logo {
                    margin-top: 4%;
                    width: 120px;
                    height: 120px;
                    overflow: hidden;
                    position: relative;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }
                }
                .profile-info-text {
                    margin-top: 4%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    p {
                        color: #fff;
                        font-family: "Open Sans";
                        font-size: 14px;
                        span {
                            font-weight: 700;
                            color: #a7a7a7;
                            padding: 0 10px 0 0;
                        }
                    }
                    .banks-container {
                        display: flex;
                        align-items: start;
                        p {
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 700;
                            color: #a7a7a7;
                            padding: 0 10px 0 0;
                        }
                        .btns-container {
                            display: flex;
                            gap: 10px;
                            a {
                                display: inline-block;
                                padding: 8px 15px;
                                color: #fff;
                                font-family: "Nunito";
                                font-size: 14px;
                                background-color: #0c0c0c;
                                border-radius: 5px;
                                transition: all 0.3s ease 0s;
                                font-weight: 600;
                                cursor: pointer;
                                &:hover {
                                    background-color: rgb(212, 212, 212);
                                    color: #0f0f0f;
                                }
                            }
                        }
                    }
                }
                .profile-edit {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(-15%, -80%);
                    z-index: 4;
                    color: #fff;
                    padding: 12px 18px;
                    background-color: rgb(27, 50, 255);
                    color: #fff;
                    font-family: "Open Sans";
                    font-size: 14px;
                    border-radius: 10px;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        background-color: rgb(5, 24, 194);
                    }
                }
            }
        }
    }  
}