
.category-institution-slider {
    width: 100%;
    position: fixed;
    top: clamp(25px, 14vw, 65px);
    background: rgb(255, 255, 255);
    z-index: 5;
    height: clamp(20px, 16vw, 100px);
    padding-left: 2.5%;
    display: flex;
    align-items: center;
    .buttons {
        display: flex;
        gap: 15px;
        overflow-y: scroll;
        scroll-snap-type: x mandatory;
        margin-right: 5%;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        button {
            transition: all 0.4s ease 0s;
            white-space: nowrap;
            padding: 8px 18px;
            width: 100%;
            background-color: #e6e6e6;
            border-radius: 15px;
            font-family: "Inter";
            font-size: clamp(10px, 3.4vw, 16px);
            font-weight: 500;
            color: #696969;
        }
        .active {
            background-color: #0a0a0a;
            color: #e4e4e4;
        }
    }
}

.institution-container {
    width: 100%;
    margin-top: clamp(25px, 16vw, 100px);
    position: relative;
    z-index: 4;
    .institutions {
        width: 95%;
        display: flex;
        justify-content: space-between;
        gap: clamp(5px, 3vw, 10px);
        flex-wrap: wrap;
        margin: 0 auto;
        overflow: hidden;
        .institution {
            min-height: clamp(5px,55vw, 300px);
            min-width: clamp(5px, 46vw, 300px);
            transition: all 0.4s ease 0s;
            background-color: #f5f5f5;
            border-radius: 15px;
            margin-top: 1vw;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .logo-container {
                width: 100%;
                height: 55%;
                position: relative;
                background-color: #000000;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .description-container {
                height: 45%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: clamp(2px, 2vw, 20px);
                @mixin aftercolor {
                    color: #797979;
                }

                .star-rating {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-family: "Comfortaa";
                    font-size: clamp(6px, 3.0vw, 12px);
                    .raiting-number {
                        color: #131313;
                    }
                    .raiting-title {
                        padding: 3px 8px;
                        background-color: #e2ad00;
                        color: #ffffff;
                        border-radius: 5px;
                    }
                    p {
                        font-family: "Comfortaa";
                        @include aftercolor();
                    }
                }

                h2,
                p {
                    margin-left: 10px;
                }
                .name {
                    font-family: "Comfortaa", sans-serif;
                    font-size: clamp(12px, 3.6vw, 18px);
                    font-weight: 700;
                    color: #141414;
                    margin-bottom: 3px;
                    // margin-top: 7%;
                }
                .menu {
                    font-family: "Comfortaa";
                    font-size: clamp(6px, 3.0vw, 12px);
                    font-weight: 500;
                    @include aftercolor();
                    &::before {
                        content: "Более ";
                        @include aftercolor();
                    }
                    &::after {
                        content: " товаров";
                        @include aftercolor();
                    }
                }
                .orders {
                    &::before {
                        content: "Заказы ";
                        @include aftercolor();
                    }
                    &::after {
                        content: " раз";
                        @include aftercolor();
                    }
                }
            }
        }
    }
}
