{% extends 'basis/basis.html' %}
{% load humanize %}

{% block linkcss %}
<link rel="stylesheet" href="/static/css/taxi_driver.css">
{% endblock %}

{% block title %}Я водитель{% endblock %}

{% block main %}
{% csrf_token %}
<button class="radar-btn" id="goBtn">
    <span class="label">Go</span>
    <div class="rings"></div>
    <div class="sweep"></div>
</button>
<div class="maps" id="map_container"></div>
<div class="step_one">
    <!-- <div class="findy_title">
        <p>Findy Водитель</p>
        <img src="/static/icons/taxi-svgrepo-com.svg" alt="" class="title_logo">
    </div> -->
    <div id="driver-app">
        <div class="city">
            <div class="city_icon"></div>
            <p class="my_city" id="my_city"></p>
        </div>
        <div class="status-panel">
            <div class="status_content">
                <p class="stat-item" id="role">Статус</p>
                <p id="status-label">Вы оффлайн</p>
            </div>
            <div class="status_icon"></div>
        </div>
        <div class="car_info_panel">
            <div class="icons cars_icon"></div>
            <div class="car_content">
                <p class="stat_info" id="drv-car-class"></p>
                <p class="stat-item" id="drv-car-details"></p>
            </div>
        </div>
        <div class="driver_raiting_panel">
            <div class="icons raiting_icon"></div>
            <div class="raiting_content">
                <p class="stat_info" id="drv-rating">0.0</p>
                <p class="stat-item">Рейтинг</p>
            </div> 
        </div>
        <div class="driver_balance_panel">
            <div class="icons balance_icon"></div>
            <div class="balance_content">
                <p class="stat_info" id="drv-balance">0.0</p>
                <p class="stat-item">Баланс</p>
            </div>
        </div>
        <div class="driver_trips_panel">
            <div class="icons trips_icon"></div>
            <div class="trips_content">
                <p class="stat_info" id="drv-trips">0</p>
                <p class="stat-item">Количество заказов</p>
            </div>
        </div>
        <button class="update_my_location_btn">
            <p>Обновить геолокацию</p>
            <img src="/static/icons/gps-navigation.png" alt="">
        </button>
    </div>
    <div id="order-modal" class="modal">
        <div class="title_price">
            <h3>Новый заказ /</h3>
            <p id="order-price">100 сом</p>
        </div>
        <div class="distance_time">
            <p id="time" class="time">5мин</p>
            <p id="distance" class="distance">2.5км</p>
        </div>
        <div class="comment">
            <p class="comment_title">Коментарий</p>
            <p id="comment_text">
                От двери до двери
            </p>
        </div>
        <div class="pickup_address_container">
            <div class="pickup_address_icon"></div>
            <div class="pickup_address_content">
                <p class="address_item">Откуда</p>
                <p id="order-address">Кара-Куль, улица Сабирова, 115б</p>
            </div>
        </div>
        <div class="destination_address_container">
            <div class="destination_address_icon"></div>
            <div class="destination_address_content">
                <p class="address_item">Куда</p>
                <p id="destination-address">Кара-Куль, улица Серого, 21</p>
            </div>
        </div>
        <button id="accept-btn">
            <p>Принять</p>
        </button>
        <!-- <button onclick="closeModalManually()">Пропустить</button> -->
    </div>
    <div class="taxi_accept_order">
        <div class="status-panel">
            <div class="status_content">
                <p class="stat-item" id="role">Статус</p>
                <p id="driver-status-label">Вы приняли заказ / 200сом</p>
            </div>
            <div class="status_icon"></div>
        </div>
        <div class="comment">
            <p class="comment_title">Коментарий</p>
            <p id="driver-comment_text">
                От двери до двери
            </p>
        </div>
        <div class="pickup_address_container">
            <div class="pickup_address_icon"></div>
            <div class="pickup_address_content">
                <p class="address_item">Откуда</p>
                <p id="driver-order-address">Кара-Куль, улица Сабирова, 115б</p>
            </div>
        </div>
        <div class="destination_address_container">
            <div class="destination_address_icon"></div>
            <div class="destination_address_content">
                <p class="address_item">Куда</p>
                <p id="driver-destination-address">Кара-Куль, улица Серого, 21</p>
            </div>
        </div>
        <div class="customer_content">
            <p class="customer_title">Данные клиента</p>
            <div class="customer_buttons">
                <button class="customer_pickup_address">
                    <div class="icon customer_pickup_icon"></div>
                    <p class="text">До клиента</p>
                </button>
                <button class="customer_destination_address">
                    <div class="icon customer_destination_icon"></div>
                    <p class="text">До Точки Б</p>
                </button>
                <button class="customer_call">
                    <div class="icon customer_call_icon"></div>
                    <p class="text">Позвонить</p>
                </button>
                <button class="customer_whatsapp">
                    <div class="icon customer_whatsapp_icon"></div>
                    <p class="text">Написать</p>
                </button>
            </div>
        </div>
        <div class="basic_buttons">
            <button id="btn-go-to-pickup" class="goto_pickup_address">
                <p class="text">Маршрут до клиента</p>
            </button>
            <button id="btn-on-site" class="on_site" style="display:none;">
                <p class="text">На месте</p>
            </button>
            <button id="btn-start-trip" class="goto_customer_destination" style="display:none;">
                <p class="text">Поехали</p>
            </button>
            <button id="btn-complete-order" class="goto_customer_destination" style="display:none;">
                <p class="text">Завершить</p>
            </button>
            <button id="btn-cancel-order" class="order_cancel">
                <p class="text">Отмена</p>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripttaxidriver %}

<script src="https://mapgl.2gis.com/api/js/v1"></script>

<script src="/static/script/taxi_driver.js"></script>

{% endblock %}